<span class="toggle-div">

<i id="toggle-backward" class="fa fa-chevron-left" aria-hidden="true" onclick="toggleBackwardDiv('{{ div_uuid }}')"></i>

<i id="toggle-forward" class="fa fa-chevron-right" aria-hidden="true" onclick="toggleForwardDiv('{{ div_uuid }}')"></i>

</span>
